/* Base styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
}

/* Responsive layout */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .content {
    padding: 10px;
  }

  .text h2 {
    font-size: 18px;
  }

  .text p {
    font-size: 12px;
  }

  .gif-container {
    max-width: 70%;
  }
}

@media (max-width: 435px) {
  h1 {
    font-size: 24px;
  }

  .text h2 {
    font-size: 16px;
  }

  .text p {
    font-size: 8.8px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 20px;
  }

  .text h2 {
    font-size: 14px;
  }

  .text p {
    font-size: 7px;
  }

  .gif-container {
    max-width: 60%;
  }
}

.home-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff000a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.home-button:hover {
  background-color: #555;
}

.gif-container {
  max-width: 100%;
}
